<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pomodoro App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>🕒 Current Time: {{ currentTime }}</h2>

  <div *ngIf="!sessionRunning">
    <ion-button expand="block" color="success" (click)="startPomodoro()">
      Start Pomodoro Cycle
    </ion-button>
  </div>

  <div *ngIf="sessionRunning">
    <h3>{{ onBreak ? 'Break Time ⏸️' : 'Work Time 💼' }}</h3>
    <h1 style="font-size: 3rem;">{{ displayCountdown }}</h1>
  </div>
</ion-content>
